In [1]:
import pandas as pd
import re

### 1. Write a function named is_vowel. It should accept a string as input and use a regular expression to determine if the passed string is a vowel. While not explicity mentioned in the lesson, you can treat the result of re.search as a boolean value that indicates whether or not the regular expression matches the given string.

In [19]:
def is_vowel(string):
    regex = re.findall('[aeiou]',string)
    for char in string:
        if char in regex:
            print (f'{char}',True)    
        else:
            print (f'{char}',False)

In [20]:
is_vowel('aksljkwjorijio')

a True
k False
s False
l False
j False
k False
w False
j False
o True
r False
i True
j False
i True
o True

### 2. Write a function named is_valid_username that accepts a string as input. A valid username starts with a lowercase letter, and only consists of lowercase letters, numbers, or the _ character. It should also be no longer than 32 characters. The function should return either True or False depending on whether the passed string is a valid username.


    >>> is_valid_username('aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa')
    False
    >>> is_valid_username('codeup')
    True
    >>> is_valid_username('Codeup')
    False
    >>> is_valid_username('codeup123')
    True
    >>> is_valid_username('1codeup')
    False

In [254]:
def is_valid_username(string):
    username = re.findall(r'^[a-z][^A-Z\W]+',string)
    username.append(1)
    if username[0] == string and len(string) <= 32:
        return True
    else:
        return False

In [255]:
re.findall(r'^[a-z][^A-Z\W]+','1codeup')

[]

In [256]:
is_valid_username('aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa')

False

In [257]:
is_valid_username('codeup')

True

In [258]:
is_valid_username('Codeup')

False

In [262]:
is_valid_username('codeup123')

True

In [260]:
is_valid_username('1codeup')

False

### 3. Write a regular expression to capture phone numbers. It should match all of the following:
    (210) 867 5309
    +1 210.867.5309
    867-5309
    210-867-5309

In [184]:
re.findall(r'\d+','(210) 867 5309')

['210', '867', '5309']

In [185]:
re.findall(r'\d+','+1 210.867.5309')

['1', '210', '867', '5309']

In [186]:
re.findall(r'\d+','867-5309')

['867', '5309']

In [245]:
re.findall(r'\d+','210-867-5309')

['210', '867', '5309']

### 4. Use regular expressions to convert the dates below to the standardized year-month-day format.


    02/04/19
    02/05/19
    02/06/19
    02/07/19
    02/08/19
    02/09/19
    02/10/19

In [209]:
def standardize_date(date):
    num_list = re.findall(r'\d+', date)
    std_date = '20'+num_list[2]+'-'+num_list[1]+'-'+num_list[0]
    return std_date

In [210]:
standardize_date('02/04/19')

'2019-04-02'

In [211]:
date_list = ['02/04/19',
             '02/05/19',
             '02/06/19',
             '02/07/19',
             '02/08/19',
             '02/09/19',
             '02/10/19']

In [212]:
[standardize_date(x) for x in date_list]

['2019-04-02',
 '2019-05-02',
 '2019-06-02',
 '2019-07-02',
 '2019-08-02',
 '2019-09-02',
 '2019-10-02']

In [246]:
date_list = pd.Series(date_list)

In [247]:
date_list.str.replace(r'(\d{2})/(\d{2})/(\d{2})',r'20\3-\2-\1',regex=True)

0    2019-04-02
1    2019-05-02
2    2019-06-02
3    2019-07-02
4    2019-08-02
5    2019-09-02
6    2019-10-02
dtype: object

### 5. Write a regex to extract the various parts of these logfile lines:

    GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58
    POST /users_accounts/file-upload [16/Apr/2019:193452+0000] HTTP/1.1 {201} 42 "User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36" 97.105.19.58
    GET /api/v1/items?page=3 [16/Apr/2019:193453+0000] HTTP/1.1 {429} 3561 "python-requests/2.21.0" 97.105.19.58

In [235]:
re.findall(r'[^\s]+','GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58')

['GET',
 '/api/v1/sales?page=86',
 '[16/Apr/2019:193452+0000]',
 'HTTP/1.1',
 '{200}',
 '510348',
 '"python-requests/2.21.0"',
 '97.105.19.58']

In [264]:
log_file_lines = '''
GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58
POST /users_accounts/file-upload [16/Apr/2019:193452+0000] HTTP/1.1 {201} 42 "User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36" 97.105.19.58
GET /api/v1/items?page=3 [16/Apr/2019:193453+0000] HTTP/1.1 {429} 3561 "python-requests/2.21.0" 97.105.19.58'''

In [265]:
#regex = r'(?P<ip>.*?)\s.*?\[(?P<timestamp>.*?)\]\s+"(?P<method>[A-Z]+)\s(?P<path>.*?)\sHTTP/1.1"\s(?P<status>\d+)\s(?P<bytes_sent>\d+)\s"(?P<referrer>.*?)"\s"(?P<user_agent>.*?)"'
regex = r'(?P<method>[A-Z]+)\s(?P<path>.*?)\s.*?\[(?P<timestamp>.*?)\]\s+"HTTP/1.1"\s(?P<status>\d+)\s(?P<bytes_sent>\d+)\s"(?P<referrer>.*?)"\s"(?P<user_agent>.*?)"\s(?P<ip>.*?)\s'
regex = re.compile(regex,re.VERBOSE)


lines = pd.Series(log_file_lines.strip().split('\n'))
lines.str.extract(regex)

  method path timestamp status bytes_sent referrer user_agent   ip
0    NaN  NaN       NaN    NaN        NaN      NaN        NaN  NaN
1    NaN  NaN       NaN    NaN        NaN      NaN        NaN  NaN
2    NaN  NaN       NaN    NaN        NaN      NaN        NaN  NaN

### 6. You can find a list of words on your mac at /usr/share/dict/words. Use this file to answer the following questions:

- How many words have at least 3 vowels?
- How many words have at least 3 vowels in a row?
- How many words have at least 4 consonants in a row?
- How many words start and end with the same letter?
- How many words start and end with a vowel?
- How many words contain the same letter 3 times in a row?
- What other interesting patterns in words can you find?

In [236]:
words = pd.read_csv('words')
words.head()

       A
0      a
1     aa
2    aal
3  aalii
4    aam

In [237]:
words.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 235885 entries, 0 to 235884
Data columns (total 1 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   A       235883 non-null  object
dtypes: object(1)
memory usage: 1.8+ MB